header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 3px solid #eeeeee;
}

#picture {
float: left;
width: 4cm;
margin-right: 0.5em
}

#person{
  display: inline-block;
  width: 15cm;
}

#name{
  margin-top: 0;
}

.center {
  text-align: center;
}

#contact li{
  display: inline-block;
  margin: 1em 0.4em;
}

.glyphicon {
  margin-right: 0.2em;
}

#motto {
  font-size: 1.2em;
  text-align: center;
}

img {
  width: 100%;
}
